body{
	color: black;
	background-image: url("assets1/background.png");
	background-size: cover;
	background-position: top;
}

img{
	padding-top: 20px;
	padding-left: 30px;
}
h1{
	padding-top: 200px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	font-style: normal;
}

hr{
	border-color: rgb(0,0,0);
	width: 150px;
	margin-left: 600px;
	margin-right: 600px;
}

p{
	text-align: center;
	font-family: 'Cardo', serif;
	font-size: 22px; 
	padding-left: 400px;
	padding-right: 400px;
}
