body {
	font-family: arial;
	font-size: 20px;
	color: white;
	background-image: url("assets/stripes.png"), url("assets/background.jpg");
	background-position: top, top;
	background-repeat: repeat-x;	
}

h1 {
	padding-top: 200px;
	padding-left: 100px;
}

hr {
	border-color: rgb(224,110,110);
	width: 40px;
	margin-left: 100px;
}

p {
	padding-left: 100px;
}

a {
	padding-left: 100px;
}


