body{
	background-image: url("unit4-assets/background.png");
	background-size: cover;
}

img{
	padding-top: 20px;
	padding-left: 30px;
}

h1{
	margin-top: 200px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
}

hr{
	border-color: rgb(0,0,0);
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

p{
	text-align: center;
	font-family: 'Cardo', serif;
	font-size: 22px; 
}

#wrapper{
/*	width: 960;*/
	margin-right: 30%;
	margin-left: 30%;
}
