* {
	box-sizing: border-box;
}

header {
	background-color: #76C9B4;
}

#logo {
	padding: 10px;
	margin-left: 15px;
	float: left;
}

nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
}

li {
	display: inline;
	display: block;
	float: right;
	padding: 20px;
	margin-top: 10px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FCF8CD;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}