html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 30px;
}

#logo {
	margin: .5%;
	margin-left: 1%;
	width: 7em;
	float: left;
}

nav {
	background-color: #76C9B4;
}

ul {
	width: 70%;
	float: right;
	margin-top: 1.75%;
}

li {
	display: inline-block;
	float: right;
	margin-right: 3%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: .8em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FCF8CD;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	margin-top: 3%;
	text-align: center;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	margin-top: 5%;
	text-align: center;
}

.clearfix {
	overflow: auto;
}

#section {
	padding-top: 2%;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

.course {
	width: 30%;
	float: left;
	margin: 1.5%;
}

.course img {
	width: 70%;
	margin-top: 3%;
	margin-bottom: .5em;
	margin-right: 15%;
	margin-left: 15%;
}

.course p {
	width: 100%;
	font-family: 'cardo', serif;
	font-size: .6em;
	text-align: center;
	padding: 5%;
}

.course button {
	width: 40%;
	height: 3em;
	margin-top: 2%;
	margin-left: 30%;
	margin: right: 30%;
	border-style: none;
	font-size: .6em;
	font-family: 'josefin sans', sans-serif;
	color: #FCF8CD;
	background-color: #F52C33;
}

.course button:hover {
	background-color: #F5454B;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	text-align: center;
	background-color: #76C9B4;
	font-family: 'josefin sans', sans-serif;
	font-size: .7em;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: .8%;
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 1em;
	}

	#courses {
		width: 100%;
	}

	.course img {
		display: none;
	}

	.course {
		width: 90%;
	}

	.course button {
		width: 40%;
		height: 1.5em;
		margin-left: 25%;
	}
}
