html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 30px;
}

#logo {
	margin: 1%;
	width: 18%;
	float: left;
}

nav {
	background-color: #76C9B4;
}

ul {
	width: 70%;
	float: right;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

li {
	display: inline-block;
	float: right;
	margin-right: 3%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: .8em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FCF8CD;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	text-align: center;
	display: none;
}

.clearfix {
	overflow: auto;
}

#courses {
	margin-top: 3%;
	margin-bottom: 6%;
}

.course {
	width: 30%;
	float: left;
	margin: 1.5%;
}

.course img {
	width: 70%;
	margin-top: 3%;
	margin-bottom: .5em;
	margin-right: 15%;
	margin-left: 15%;
}

.course p {
	width: 100%;
	font-family: 'cardo', serif;
	font-size: .7em;
	text-align: center;
	padding: 5%;
	margin-bottom: .5em;
}

.course a {
	width: 50%;
	height: 2%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	display: inline-block;
	padding: 5%;
	border-style: none;
	font-size: .7em;
	font-family: 'josefin sans', sans-serif;
	color: #FCF8CD;
	background-color: #F52C33;
}

.course a:hover {
	background-color: #F5454B;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	text-align: center;
	background-color: #76C9B4;
	font-family: 'josefin sans', sans-serif;
	font-size: .7em;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: .8%;
}

@media screen and (max-width: 400px) {

	h1 {
		font-size: 1.3em;
		padding-bottom: 5%;
	}

	h2 {
		display: block;
		font-size: .8em;
		margin-top: 2%;
	}

	#courses {
		width: 100%;
		margin-top: 7%;
	}

	.course img {
		display: none;
	}

	.course {
		width: 90%;
	}

	.course a {
		width: 40%;
		height: 2%ß;
		margin-left: 30%;
		margin-right: 30%;
		margin-bottom: 8%;
		font-size: .6em;
		padding: 3%;
	}

	footer {
		font-size: .6em;
		padding: 2%;
		border-top: 10%;
	}
}
