html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 30px;
}

#logo {
	margin: 1%;
	width: 18%;
	float: left;
}

nav {
	background-color: #76C9B4;
}

ul {
	width: 70%;
	float: right;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

li {
	display: inline-block;
	float: right;
	margin-right: 3%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: .8em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FCF8CD;
}

#globe {
	width: 35%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2%;
	float: left;
}

#globe img {
	width: 80%;
}

.container {
	margin-top: 10%;
	margin-right: 5%;
	width: 55%;
	float: left;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.8em;
	margin-bottom: 4%;
}

p {
	font-family: 'Cardo', serif;
	font-size: .8em;
	line-height: 150%;
	margin-bottom: 5%;
}

.container a {
	display: inline-block;
	border-style: none;
	width: 40%;
/*	margin-right: 30%;
	margin-left: 30%;*/
	padding: 2.5%;
	text-align: center;
	font-size: 1em;
	font-family: 'josefin sans', sans-serif;
	color: #FCF8CD;
	background-color: #F52C33;
}

.container a:hover {
	background-color: #F5454B;
}

footer {
	text-align: center;
	background-color: #76C9B4;
	font-family: 'josefin sans', sans-serif;
	font-size: .7em;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: .8%;
}

@media screen and (max-width: 400px) {

	#logo {
		width: 50%;
	}

	h1 {
		font-size: 1.1em;
		padding-bottom: 5%;
		text-align: center;
	}

	p {
		font-size: .6em;
	}

	#globe {
		display: none;
	}

	.container {
		width: 90%;
		margin-top: 20%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.container a {
		width: 50%;
		font-size: .8em;
		margin-top: 5%;
	}

	footer {
		font-size: .6em;
		padding: 2%;
		border-top: 10%;
	}
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

